@charset "UTF-8";

#thread {
	margin-top: 1em;
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(150, 150, 150);
	padding: 10px;
	
	.post {
		border: 1px solid rgb(0, 0, 0);
		background-color: rgb(50, 50, 50);
		margin-top: 1em;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		font-size: 0;
		position: relative;
		
		span.anchor {
			display: block;
			visibility: hidden;
			position: absolute;
			top: -75px;
			left: 0;
		}
		
		div {
			font-size: 16px;
			padding: 10px;
			box-sizing: border-box;
			color: #FFFFFF;
			
			&.user {
				width: 20%;
				background-color: rgb(35, 35, 35);
				border-right: 1px solid rgb(0, 0, 0);
				text-align: center;
				
				strong, a.username {
					color: #FFFFFF;
					font-weight: bold;
				}
				
				.rights {
					display: block;
					font-size: 14px;
				}
				.controls {
					display: block;
					font-size: 16px;
					margin-top: 1em;
					
					a {
						color: rgb(220, 220, 220);
					}
				}
			}
			&.message {
				.date {
					display: block;
					text-align: right;
					font-size: 15px;
					
					a {
						color: #FFFFFF;
					}
				}
				
				width: 80%;
			}
		}
		
		/*&.mod {
			background-color: rgb(215, 215, 215);
			
			div {
				color: #000000;
				
				&.user {
					background-color: rgb(200, 200, 200);
					
					.controls {
						a {
							color: rgb(35, 35, 35);
						}
					}
				}
			}
		}*/
		
		&.staff, &.mod {
			background-color: rgb(1, 104, 179);
			
			div {
				color: #FFFFFF;
				
				&.user {
					background-color: rgb(0, 89, 164);
				}
			}
		}
		
		&.highlight {
			border: 3px solid rgb(255, 255, 0);
		}
		
		& + .post {
			margin-top: 10px;
		}
	}
}

#newThreadForm, #newPostForm, #editPostForm, .messageForm {
	#titleInput {
		width: 400px;
	}
	#messageInput, #reasonInput {
		height: 150px;
		width: 100%;
		min-height: 150px;
		max-height: 500px;
		max-width: 100%;
		min-width: 100%;
		box-sizing: border-box;
	}
}

.threadList {
	table-layout: fixed;
	margin-top: 1em;
	
	td {
		&.title {
			width: 60%;
			
			a.name {
				display: block;
				font-size: 18px;
				font-weight: bold;
			}
		}
		&.posts {
			width: 10%;
			text-align: center;
		}
		&.lastPost {
			width: 30%;
		}
	}
}

.forumList {
	table-layout: fixed;
	
	td {
		&.threads, &.posts {
			width: 7%;
			text-align: center;
		}
		&.lastPost {
			width: 26%;
		}
	}
	
	thead td {
		&.title {
			font-size: 20px !important;
		}
	}
	
	.forum td {
		padding: 5px;
		font-size: 14px;
		
		&.title {
			width: 60%;
			
			.name {
				font-size: 18px;
				font-weight: bold;
				display: block;
			}
			.description {
				font-size: 16px;
			}
			
			& + .forum {
				border-top: 1px solid rgb(150, 150, 150);
			}
		}
		&.lastPost {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}

	& + .forumList {
		margin-top: 1em;
	}
}

form.pageNav {
	display: block;
	float: right;
	
	a {
		font-weight: bold;
		text-decoration: underline !important;
	}
	input[type="text"] {
		display: inline-block !important;
		margin: 0 !important;
		padding: 2px !important;
		font-size: 16px !important;
		width: 20px;
		text-align: center;
	}
}