<div class="box">
	<div id="loginForm" class="form">
		<div>
			<label for="inputLoginUsername">Username:</label>
			<input type="text" id="inputLoginUsername" name="inputLoginUsername" maxlength="15" />
		</div>
		
		<div class="section">
			<label for="inputLoginPassword">Password:</label>
			<input type="password" id="inputLoginPassword" name="inputLoginPassword" maxlength="35" />
		</div>
		
		<div class="section">
			<button id="inputLoginSubmit" name="inputLoginSubmit">Submit</button>
		</div>
	</div>
</div>