@charset "UTF-8";

#createForm {
	.label, label {
		display: inline-block;
		font-weight: bold;
	}
	
	#inputCreateCity, #inputCreateState, #inputCreateUsername {
		display: inline-block !important;
	}
	#inputCreateUsername, #inputCreatePassword1, #inputCreatePassword2 {
		width: 200px;
	}
}