@charset "UTF-8";

$light-blue: rgb(1, 149, 254);
$blue: rgb(1, 104, 179);
$width: 960px;

@font-face {
    font-family: HemiHead;
    src: url('../font/hemihead.ttf');
}

html, body, h1, h2, h3 {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	position: relative;
	background-color: rgb(35, 35, 35);
	padding-top: 60px;
	
	#header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		background-color: $blue;
		
		h1 {
			font-family: HemiHead, Impact, sans-serif;
			font-size: 38px;
			font-weight: bold;
			line-height: 65px;
			color: #FFFFFF;
		}
		
		#nav {
			float: right;
			margin: 0;
			padding: 0;
			display: inline;
			
			li {
				display: block;
				float: left;
				margin: 0;
				padding: 0;
				list-style-type: none;
				position: relative;
				
				a {
					text-decoration: none;
					display: inline-block;
					line-height: 60px;
					font-weight: normal;
					color: #FFFFFF;
					padding: 0 20px;
					transition: background-color 0.2s;
					font-size: 18px;
					font-family: "Century Gothic", Verdana, sans-serif;
				}
				
				ul {
					visibility: hidden;
					position: absolute;
					top: 60px;
					left: 0;
					float: none;
					display: block;
					margin: 0;
					padding: 0;
					
					li {
						display: block;
						
						a {
							display: block;
							width: 200px;
							height: 30px;
							line-height: 30px;
							padding: 0 10px;
							font-size: 14px;
							background-color: rgb(50, 50, 50) !important;
							
							&:hover {
								background-color: rgb(35, 35, 35) !important;
							}
						}
					}
				}
				
				&:hover {
					a {
						background-color: rgb(35, 35, 35);
					}
					
					ul {
						visibility: visible;
					}
				}
			}
		}
	}
	
	#loc {
		.inner {
			padding: 10px 0 15px;
		}
		
		h2 {
			color: $light-blue;
			font-size: 28px;
			font-weight: normal;
			font-family: "Century Gothic", Verdana, sans-serif;
		}
		
		#breadcrumb {
			color: rgb(230, 230, 230);
			
			a {
				text-decoration: none;
				color: #FFFFFF;
				transition: 0.2s;
				font-family: "Century Gothic", Verdana, sans-serif;
				
				&:hover {
					text-shadow: 0 0 10px #FFFFFF;
				}
			}
		}
	}
	
	#content {
		background-color: rgb(240, 240, 240);
		padding: 20px 0;
		
		h3 {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 32px;
			font-weight: bold;
		}
		
		a {
			color: $light-blue;
			text-decoration: underline;
			
			&:hover {
				color: $blue;
				text-decoration: none;
			}
		}
		
		form, .form {
			.section {
				margin-top: 1em;
			}
				
			label {
				font-weight: bold;
				cursor: pointer;
			}
			.label {
				font-weight: bold !important;
			}
			
			input[type="text"], input[type="password"], select {
				display: block;
				background-color: #FFFFFF;
				border: 1px solid #000000;
				color: #000000;
				padding: 4px;
				outline: none;
				font-family: Consolas, monospace, sans-serif;
				margin-top: 2px;
			}
			
			input[type="submit"], input[type="reset"], button, .button {
				background-color: $blue;
				transition: background-color 0.2s;
				color: #FFFFFF;
				font-weight: bold;
				padding: 5px 10px;
				border: none;
				border-radius: none;
				cursor: pointer;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 16px;
			}
			input[type="submit"]:hover, input[type="reset"]:hover, button:hover, .button:hover {
				background-color: $light-blue;
			}
		}
		
		.error {
			color: rgb(200, 0, 0);
		}
		.success {
			color: rgb(0, 255, 0);
		}
	}
	
	#footer {
		padding: 15px 0 20px;
		font-size: 13px;
		color: rgb(240, 240, 240);
		
		.right {
			float: right;
		}
		
		a {
			color: $light-blue;
			text-decoration: none;
			
			&:hover {
				color: $blue;
			}
		}
	}
	
	.inner {
		width: $width;
		margin: 0 auto;
	}
}